/* CSS Reset */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*General Settings*/

body {
	font-family: 'Open Sans', sans-serif;
}

/*Nav section*/

nav {
	position: sticky;
	padding: 1rem;
	top: 0;
	background-color: white;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
}

.right-nav {
	float: right;
	margin-right: 6rem;
}

div > li {
	margin-right: 1rem;
}

#logo{
	margin-left: 8rem;
}

.tuitt-button {
	background-color: #c2195b;
	color: white;
	padding: 0.75rem 1rem;
	border-radius: 25px;
	border: none;
	font-size: 1rem;
	font-weight: 600;
	text-align: center;


}


/* Landing Page */

#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-attachment: scroll;
	min-height: 45vh;
	background-position: 75% 50%;
	display: absolute;
	background-size: cover;
}

.front-bg {
	color: white;
	text-align: right;
	padding-right: 7rem;
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 45vh;
}

.title {
	font-size: 3rem;
	padding-bottom: 1.5rem;
	font-family: 'Zilla Slab';
}

.subtitle {
	margin-left: 60%;
	font-weight: 200;
	font-family: 'Open Sans', sans-serif;



}

.apply-button {
	background-color: #c2195b;
	color: white;
	margin: 1rem;
	text-align: center;
	font-size: 1rem;
	padding: 0.5rem 2.5rem;
	border-radius: 25px;
	border: none;
	font-weight: 600;
}

.intro {
	text-align: center;
	margin: 4rem 15rem;
}



.intro-description {
	text-align: left;
	margin-bottom: 10rem;
}


.pre-footer {
	background-color: #f7fbfb;
	text-align: center;
	margin-left: 15rem;
	margin-right: 15rem;
}	


.title-2 {
	margin-bottom: 2rem;
	padding-top: 3rem;
	font-family: 'Zilla Slab';

}

.prefooter-description {
	padding-top: 1rem;


}


.book-button {

	background-color: #336589;
	color: white;
	margin: 1rem;
	text-align: center;
	font-size: 1rem;
	padding: 0.5rem 2.5rem;
	border-radius: 25px;
	border: none;
	font-weight: 600;
	margin-bottom: 2rem;
}

footer {
	text-align: center;
}

footer > span {
	margin-left: 1rem;
	margin-right: 1rem;
	padding-bottom: 0.5rem;
}